@font-face {
  font-family: "Manrope bd";
  src: url("../fonts/Manrope-Bold.eot");
  src: url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/Manrope-Bold.woff") format("woff"),
    url("../fonts/Manrope-Bold.ttf") format("truetype"),
    url("../fonts/Manrope-Bold.svg#Manrope-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
